Repository Hugo-M33/lightshare: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, flutter-analyze, flutter-format

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'cd backend && go mod tidy'
  language: system
  pass_filenames: false

flutter-analyze:
  name: flutter analyze
  entry: bash -c 'cd mobile && flutter analyze'
  language: system
  pass_filenames: false

flutter-format:
  name: flutter format
  entry: bash -c 'cd mobile && dart format --set-exit-if-changed lib test'
  language: system
  pass_filenames: false

feat(auth): implement Phase 2 - Complete authentication system
  PHASE2_IMPLEMENTATION.md
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/handlers/auth.go
  backend/internal/middleware/auth.go
  backend/internal/models/user.go
  backend/internal/repository/refresh_token.go
  backend/internal/repository/user.go
  backend/internal/services/auth.go
  backend/migrations/000001_create_users_table.down.sql
  backend/migrations/000001_create_users_table.up.sql
  backend/migrations/000002_create_refresh_tokens_table.down.sql
  backend/migrations/000002_create_refresh_tokens_table.up.sql
  backend/pkg/crypto/crypto.go
  backend/pkg/database/database.go
  backend/pkg/email/email.go
  backend/pkg/jwt/jwt.go
  backend/pkg/redis/redis.go
  mobile/lib/core/models/auth_response.dart
  mobile/lib/core/models/user.dart
  mobile/lib/core/providers/app_providers.dart
  mobile/lib/core/providers/auth_provider.dart
  mobile/lib/core/router/app_router.dart
  mobile/lib/core/services/api_client.dart
  mobile/lib/core/services/auth_service.dart
Due: go-mod-tidy, flutter-analyze, flutter-format

feat(mobile): complete Phase 2 UI with dark purple glassmorphism design
  mobile/lib/core/theme/app_theme.dart
  mobile/lib/core/widgets/glass_container.dart
  mobile/lib/core/widgets/gradient_button.dart
  mobile/lib/features/auth/screens/email_verification_screen.dart
  mobile/lib/features/auth/screens/login_screen.dart
  mobile/lib/features/auth/screens/magic_link_screen.dart
  mobile/lib/features/auth/screens/signup_screen.dart
  mobile/lib/features/home/screens/home_screen.dart
  mobile/lib/main.dart
Due: flutter-analyze, flutter-format

docs: add comprehensive Phase 2 UI implementation guide
  PHASE2_UI_GUIDE.md
Due: none

fix(mobile): resolve CardTheme type error in app_theme
  mobile/lib/core/theme/app_theme.dart
Due: flutter-analyze, flutter-format

fix(mobile): use CardThemeData instead of CardTheme
  mobile/lib/core/theme/app_theme.dart
Due: flutter-analyze, flutter-format

fix(backend): update to Go 1.24 and remove unused variable
  backend/Dockerfile
  backend/internal/services/auth.go
Due: none

feat: add email configuration with environment variables
  .env.example
  docker-compose.yml
Due: none

fix: add proper TLS/STARTTLS support to email service
  backend/pkg/email/email.go
Due: none

fix(backend): switch to gomail for OVH SMTP compatibility
  backend/go.mod
  backend/go.sum
  backend/pkg/email/email.go
Due: go-mod-tidy

feat(auth): add email verification deep links with auto-login
  backend/cmd/server/main.go
  backend/internal/config/config.go
  backend/internal/handlers/auth.go
  backend/internal/repository/user.go
  backend/internal/services/auth.go
  backend/pkg/email/email.go
  docs/mobile-configuration.md
  docs/mobile-deep-linking.md
  mobile/README.md
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/ios/Runner/Info.plist
  mobile/lib/core/providers/app_providers.dart
  mobile/lib/core/providers/auth_provider.dart
  mobile/lib/core/services/auth_service.dart
  mobile/lib/features/auth/screens/email_verification_screen.dart
  mobile/lib/main.dart
  mobile/linux/flutter/generated_plugin_registrant.cc
  mobile/linux/flutter/generated_plugins.cmake
  mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  mobile/pubspec.yaml
  mobile/windows/flutter/generated_plugin_registrant.cc
  mobile/windows/flutter/generated_plugins.cmake
Due: flutter-analyze, flutter-format

fix(ci): resolve all workflow failures for backend and mobile
  backend/cmd/server/main.go
  backend/internal/config/config.go
  backend/internal/handlers/auth.go
  backend/internal/models/user.go
  backend/pkg/email/email.go
  mobile/test/widget_test.dart
Due: flutter-analyze, flutter-format

fix(mobile): resolve all Flutter analysis warnings
  mobile/lib/core/router/app_router.dart
  mobile/lib/core/theme/app_theme.dart
  mobile/lib/core/widgets/glass_container.dart
  mobile/lib/core/widgets/gradient_button.dart
  mobile/lib/features/auth/screens/email_verification_screen.dart
  mobile/lib/features/auth/screens/login_screen.dart
  mobile/lib/features/auth/screens/magic_link_screen.dart
  mobile/lib/features/auth/screens/signup_screen.dart
  mobile/lib/features/home/screens/home_screen.dart
  mobile/test/widget_test.dart
Due: flutter-analyze, flutter-format

fix(lint): resolve all backend and mobile linting issues
  backend/cmd/server/main.go
  backend/internal/config/config.go
  backend/internal/handlers/auth.go
  backend/internal/repository/user.go
  backend/internal/services/auth.go
  backend/pkg/email/email.go
  mobile/lib/features/home/screens/home_screen.dart
Due: flutter-analyze, flutter-format

refactor(backend): fix golangci-lint issues across backend codebase
  backend/internal/config/config.go
  backend/internal/models/user.go
  backend/pkg/email/email.go
  backend/pkg/jwt/jwt.go
Due: none

fix(lint): resolve golangci-lint errors and add formatting checks
  .claude/settings.local.json
  .github/workflows/backend.yml
  backend/.golangci.yml
  backend/cmd/server/main.go
  backend/internal/config/config.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/health_test.go
  backend/internal/middleware/auth.go
  backend/internal/models/user.go
  backend/internal/repository/refresh_token.go
  backend/internal/repository/user.go
  backend/internal/services/auth.go
  backend/pkg/crypto/crypto.go
  backend/pkg/database/database.go
  backend/pkg/email/email.go
  backend/pkg/jwt/jwt.go
  backend/pkg/logger/logger.go
  backend/pkg/redis/redis.go
Due: none

fix(test): correct SignupScreen widget test expectations
  mobile/test/widget_test.dart
Due: flutter-analyze, flutter-format

fix(ci): upgrade golangci-lint to v2 to match configuration
  .github/workflows/backend.yml
Due: none

fix(ci): upgrade golangci-lint-action version
  .github/workflows/backend.yml
Due: none

fix(lint): migrate golangci-lint config to v2 schema
  backend/.golangci.yml
  docs/golangci-lint-v2-migration.md
Due: none

fix(lint): resolve golangci-lint fieldalignment and shadow issues
  backend/cmd/server/main.go
  backend/internal/models/user.go
  backend/internal/services/auth.go
  backend/pkg/jwt/jwt.go
Due: none

docs: add comprehensive Phase 4 (Light Control) implementation plan
  docs/phase-4-implementation-plan.md
Due: none

docs: refine Phase 4 plan based on implementation decisions
  docs/phase-4-implementation-plan.md
Due: none

feat(backend): implement Phase 4 device models and LIFX client extensions
  PHASE-4-TODO.md
  backend/internal/models/action.go
  backend/internal/models/device.go
  backend/pkg/providers/lifx/client.go
  backend/pkg/providers/provider.go
Due: none

feat(backend): implement device service with caching and rate limiting
  backend/internal/config/config.go
  backend/internal/repository/account.go
  backend/internal/services/device.go
Due: none

feat(phase-4): implement device control and management
  backend/cmd/server/main.go
  backend/internal/handlers/device.go
  mobile/lib/core/models/action_request.dart
  mobile/lib/core/models/device.dart
  mobile/lib/core/providers/app_providers.dart
  mobile/lib/core/providers/devices_provider.dart
  mobile/lib/core/router/app_router.dart
  mobile/lib/core/services/device_service.dart
  mobile/lib/features/devices/screens/device_detail_screen.dart
  mobile/lib/features/devices/screens/devices_screen.dart
  mobile/lib/features/devices/widgets/brightness_slider.dart
  mobile/lib/features/devices/widgets/color_picker_widget.dart
  mobile/lib/features/devices/widgets/effects_panel.dart
  mobile/lib/features/devices/widgets/temperature_slider.dart
  mobile/lib/features/home/screens/home_screen.dart
Due: flutter-analyze, flutter-format

fix(mobile): correct power action parameter type mismatch
  .claude/settings.local.json
  CLAUDE.md
  backend/cmd/server/main.go
  backend/internal/handlers/device.go
  backend/internal/models/action.go
  backend/internal/models/device.go
  backend/internal/repository/account.go
  backend/internal/services/device.go
  backend/pkg/providers/lifx/client.go
  backend/pkg/providers/provider.go
  docs/fixes/power-toggle-type-mismatch.md
  mobile/lib/core/models/action_request.dart
  mobile/lib/features/devices/screens/devices_screen.dart
  mobile/lib/features/devices/widgets/brightness_slider.dart
  mobile/lib/features/devices/widgets/color_picker_widget.dart
Due: flutter-analyze, flutter-format

refactor(backend): improve code quality and fix linting issues
  backend/internal/handlers/device.go
  backend/internal/models/action.go
  backend/internal/models/device.go
  backend/internal/services/device.go
  backend/pkg/providers/lifx/client.go
  backend/pkg/providers/provider.go
Due: none

fix(ci): resolve Flutter cache issue in mobile workflow
  .github/workflows/mobile.yml
Due: none

fix(ci): use pubspec.yaml instead of pubspec.lock for cache key
  .github/workflows/mobile.yml
Due: none

Path conditions:
  go-mod-tidy: any of: ^backend/go\.(mod|sum)$
  flutter-analyze: any of: ^mobile/.*\.dart$
  flutter-format: any of: ^mobile/.*\.dart$
